   @keyframes skew-y-shaking{
    0% { transform: skewY(-20deg); }
    5% { transform: skewY(20deg); }
    10% { transform: skewY(-20deg); }
    15% { transform: skewY(20deg); }
    20% { transform: skewY(0deg); }
    100% { transform: skewY(0deg); }
   }

.bell-icon {
    animation: skew-y-shaking 1s infinite;
}

/* Improve scrolling performance */
* {
  scroll-behavior: smooth;
}

/* Ensure body and html allow scrolling */
html, body, #root {
  height: 100%;
  overflow: auto;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}